{% extends "ForumBundle::layout.html.twig" %}

{% block content %}
    <p>New Post added !!!!!</p>
    <p>Redirect to main page</p>
    <a href="{{ path('showForum') }}">Redirect ot Home Page</a>
{% endblock %}